* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}
html,
body {
  width: 100%;
  height: 100%;
}
main {
  width: 100%;
  /* height: 100%; */
  background-color: #d5ff40;
}
nav {
  /* background-color: blue; */
  padding: 30px 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}
nav h2 {
  font-size: 48px;
  font-weight: 500;
}
nav a {
  font-size: 30px;
  color: #000;
  text-decoration: none;
  font-weight: 500;
}
section {
  padding: 60px 100px;
}
section .hero_Text1 {
  /* background-color: red; */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.hero_Text1 h1 {
  font-size: 140px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 150px;
}
.hero_Text1 .video {
  height: 100px;
  width: 400px;
  background-color: #000;
  border-radius: 100px;
  margin-top: 20px;
  background-image: url(https://images.unsplash.com/photo-1726082132343-e4dc7400ee44?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  /* background-position: right; */
  padding: 10px;
}
.video .play {
  height: 100%;
  width: 80px;
  border-radius: 100px;
  background-color: #000;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.play i {
  color: #fff;
  font-size: 40px;
}
section .hero_Text2 {
  /* background-color: red; */
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.hero_Text2 h1 {
  font-size: 140px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 150px;
}
.hero_Text2 p {
  font-size: 40px;
  width: 700px;
  font-weight: 500;
}
.image {
  height: 600px;
  width: 90%;
  margin-left: 5%;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  background-color: red;
  background-image: url(https://images.unsplash.com/photo-1660404960318-314966439ca0?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 100px;
}

.image .arrow {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  right: 5%;
  top: -10%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #7b7b7b;
}
.arrow i {
  font-size: 100px;
}
